# Completion
set completion-ignore-case on
set show-all-if-ambiguous on
set menu-complete-display-prefix on

# VIM
set editing-mode vi
set show-mode-in-prompt on
#set vi-ins-mode-string "+"
#set vi-cmd-mode-string ":"
set vi-ins-mode-string "INS+ "
set vi-cmd-mode-string "NRM: "
set keymap vi-insert
TAB: menu-complete
"\e[Z": menu-complete-backward
